@model GetAllPostDto

    <article class="group btmspace-80">
    <div class="two_third first"><img class="borderedbox inspace-10" src="/skaxis/images/demo/660x360.png" alt=""></div>
    <div class="one_third">
        <h5 class="heading bold">Günün Bloğu</h5>
        <h6 class="heading">@Model.Title</h6>
        <ul class="nospace meta">
            <li><i class="fa fa-user"></i> <a asp-route-id="@Model.UserId">@Model.UserName</a></li>
                <li><i class="fa fa-tag"></i> <a href="#">@foreach(var tag in Model.TagName)
                        {
                            @tag
                        }
                    </a></li>
        </ul>
        
        <p class="btmspace-20">@Model.Content</p>
        <footer class="nospace"><a class="btn" asp-route-id="@Model.PostId">Detayları İncele</a></footer>
    </div>
</article>

