@model List<GetAllPostDto>
<h2>Son Eklenen Bloglar</h2>

<ul class="nospace group overview">

    @foreach (var item in Model)
    {
           <li class="one_third">
        <article>
                <a asp-route-id="@item.PostId"><img src="/skaxis/images/demo/320x240.png" alt=""></a>
            <h6 class="heading">@item.Title</h6>
            <ul class="nospace meta">
                <li><i class="fa fa-user"></i> <a asp-route-id="@item.UserId">@item.UserName</a></li>
					@foreach (var tag in item.TagName)
					{
						<li>
							<i class="fa fa-tag"></i>

							<a href="">@tag</a>
                       
                        </li> }
            </ul>
            <p>@item.Content</p>
            <footer class="nospace"><a class="btn" href="#">Detaylı Bir Şekilde okuyun</a></footer>
        </article>
    </li>
    }
 
 


</ul>